In [ ]:
 import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path = '/content/drive/MyDrive/Colab Notebooks/combined_df.csv'
df = pd.read_csv(file_path)
df = df[
    (df['Year'] >= 2020) &
    (df['Headliner'].str.contains('"', na=False)) &
    (~df['Support'].isna()) &
    (df['Genre'] != 'Family Entertainment')
  ]
df

<ipython-input-2-3e62bf304c3d>:2: DtypeWarning: Columns (2,3,6,7,8,9,10,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,Event Date,Headliner,sp artist_name,sp artist_genre,sp followers,sp popularity,yt name,yt Channel ID,yt Title,yt Description,...,Genre,Avg. Tickets Sold,Avg. Gross USD,Avg. Event Capacity,Avg. Capacity Sold,Ticket Price Min USD,Ticket Price Max USD,Ticket Price Avg. USD,Month,day_of_week
100,2024-08-31,"""Summer of '99 and Beyond Festival""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Multi-Genre,23332.0,1441577.00,23332.0,100%,39.5,159.5,61.79,8,5
117,2024-08-31,"""Reggae Fest Massive""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Reggae,12791.0,1418343.50,12791.0,100%,43.5,343.5,110.89,8,5
133,2024-08-30,"""DC Jazz Festival""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Multi-Genre,2394.0,252568.00,2500.0,95%,55.2,299.0,105.50,8,4
217,2024-08-24,"""TUFF XL""","""TUFF XL""",[],2761.0,36.0,"""TUFF XL""",UCzCtVmCZVG5XmKXruPNNgLw,Tuff Dawg Kennels,Hi we are Tuff Dawg Kennels an xl American bul...,...,Pop / Rock,742.0,26389.00,1000.0,74%,25.0,42.0,35.56,8,5
218,2024-08-24,"""Washington Salsa Festival""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Multi-Genre,6219.0,618565.00,6570.0,94%,39.0,350.0,99.46,8,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109453,2020-01-08,"""Annual Elvis Birthday Bash""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Tribute Acts,873.0,19435.50,1633.0,53%,25.0,39.5,22.26,1,2
109516,2020-01-05,"""Radio K Gigawatt"", Iceblink",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Pop / Rock, Uncategorized",36.0,226.98,238.0,15%,6.5,0.0,6.31,1,6
109560,2020-01-04,"""Krush Groove - 80s Hip Hop Theme Show!""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rap / HipHop,49.0,1071.83,219.0,22%,19.5,24.5,21.87,1,5
109621,2020-01-03,"""Manhattan Comedy Night""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Comedy,1289.0,29255.50,1289.0,100%,25.0,30.0,22.70,1,4
109682,2020-01-01,"""Hangover Ball""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Pop / Rock,1119.0,26255.00,1700.0,65%,22.0,42.0,23.46,1,2

In [ ]:
df.isnull().sum()

Event Date                            0
Headliner                             0
sp artist_name                     2258
sp artist_genre                    2258
sp followers                       2258
sp popularity                      2258
yt name                            2265
yt Channel ID                      2265
yt Title                           2265
yt Description                     2303
yt Published At                    2265
yt View Count                      2265
yt Subscriber Count                2265
yt Video Count                     2265
Total population                   2258
Under 5 years population           2258
5 to 9 years population            2258
10 to 14 years population          2258
15 to 19 years population          2258
20 to 24 years population          2258
25 to 34 years population          2258
35 to 44 years population          2258
45 to 54 years population          2258
55 to 59 years population          2258
60 to 64 years population          2258
65 to 74 years population          2258
75 to 84 years population          2258
85 years and over population       2258
Median age                         2258
Year                                  0
headliner_monthly_listeners           0
Support_Total_Monthly_Listeners       0
monthly_listeners                   213
Number of Shows                       0
Support                               0
Venue                                 0
City                                  0
State                                 0
Country                               0
Market                              125
Company Type                          0
Currency                              0
Promoter                              2
Genre                                64
Avg. Tickets Sold                     0
Avg. Gross USD                        0
Avg. Event Capacity                   0
Avg. Capacity Sold                    0
Ticket Price Min USD                  0
Ticket Price Max USD                  0
Ticket Price Avg. USD                 0
Month                                 0
day_of_week                           0
dtype: int64

In [ ]:
data = df.iloc[:, -24:]
data = data.drop(columns=['Support', 'Venue', 'City', 'Country', 'Market', 'Company Type', 'Currency', 'Promoter', 'Avg. Tickets Sold', 'Avg. Capacity Sold', 'Ticket Price Avg. USD'])
data.isnull().sum()

Year                                 0
headliner_monthly_listeners          0
Support_Total_Monthly_Listeners      0
monthly_listeners                  213
Number of Shows                      0
State                                0
Genre                               64
Avg. Gross USD                       0
Avg. Event Capacity                  0
Ticket Price Min USD                 0
Ticket Price Max USD                 0
Month                                0
day_of_week                          0
dtype: int64

### Fill Null values in the monthly_listeners column with the mean of the Genre that each row belongs to:
### Categorzie Genre and State variables:

In [ ]:
data['Genre'] = data['Genre'].fillna("Unknown")
genre_mean = data.groupby(by = "Genre")["monthly_listeners"].transform('mean')
data['monthly_listeners'] = data['monthly_listeners'].fillna(genre_mean)
data = data.dropna()
data['State'] = data['State'].astype('category')
data['Genre'] = data['Genre'].astype('category')
data

,Year,headliner_monthly_listeners,Support_Total_Monthly_Listeners,monthly_listeners,Number of Shows,State,Genre,Avg. Gross USD,Avg. Event Capacity,Ticket Price Min USD,Ticket Price Max USD,Month,day_of_week
100,2024.0,0.0,31066667.0,3.106667e+07,1,California,Multi-Genre,1441577.00,23332.0,39.5,159.5,8,5
117,2024.0,0.0,2896807.0,2.896807e+06,1,New York,Reggae,1418343.50,12791.0,43.5,343.5,8,5
133,2024.0,0.0,400335.0,4.003350e+05,1,District of Columbia,Multi-Genre,252568.00,2500.0,55.2,299.0,8,4
217,2024.0,0.0,1559.0,1.559000e+03,1,California,Pop / Rock,26389.00,1000.0,25.0,42.0,8,5
218,2024.0,0.0,5699377.0,5.699377e+06,1,Virginia,Multi-Genre,618565.00,6570.0,39.0,350.0,8,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
109453,2020.0,0.0,0.0,1.737477e+06,1,Florida,Tribute Acts,19435.50,1633.0,25.0,39.5,1,2
109516,2020.0,0.0,14.0,1.400000e+01,1,Minnesota,"Pop / Rock, Uncategorized",226.98,238.0,6.5,0.0,1,6
109560,2020.0,0.0,205.0,2.050000e+02,1,Minnesota,Rap / HipHop,1071.83,219.0,19.5,24.5,1,5
109621,2020.0,0.0,199.0,1.990000e+02,1,New Jersey,Comedy,29255.50,1289.0,25.0,30.0,1,4
109682,2020.0,0.0,1120797.0,1.120797e+06,1,Oklahoma,Pop / Rock,26255.00,1700.0,22.0,42.0,1,2

In [ ]:
from sklearn.model_selection import train_test_split

'''
Retian only Support_Total_Monthly_Listeners
monthly_listeners = headliner_monthly_listeners + Support_Total_Monthly_Listeners

'''

X = data.drop(columns=['Avg. Gross USD', 'monthly_listeners', 'headliner_monthly_listeners'])
y = data['Avg. Gross USD']

## LightGBM:

In [ ]:
from lightgbm import LGBMRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer, mean_squared_error, r2_score, mean_absolute_error
import numpy as np

# Initialize the LightGBM model
model = LGBMRegressor(
    objective='regression',
    max_depth=5,
    learning_rate=0.1,
    n_estimators=200,
    random_state=42,
    verbose=-1
)

# Define scoring metrics
mse_scorer = make_scorer(mean_squared_error, greater_is_better=False)
r2_scorer = make_scorer(r2_score)
mae_scorer = make_scorer(mean_absolute_error, greater_is_better=False)

# Perform 5-fold cross-validation for MSE and compute RMSE
mse_scores = cross_val_score(model, X, y, cv=5, scoring=mse_scorer)
rmse_scores = np.sqrt(-mse_scores)

# Perform 5-fold cross-validation for R2 score
r2_scores = cross_val_score(model, X, y, cv=5, scoring=r2_scorer)

# Perform 5-fold cross-validation for MAE
mae_scores = -cross_val_score(model, X, y, cv=5, scoring=mae_scorer)

# Print results
print("5-Fold Cross-Validation Results:")
print("\nRMSE scores for each fold:", rmse_scores)
print("Average RMSE:", np.mean(rmse_scores))
print("\nR-squared scores for each fold:", r2_scores)
print("Average R-squared (R2) Score:", np.mean(r2_scores))
print("\nMAE scores for each fold:", mae_scores)
print("Average MAE:", np.mean(mae_scores))

/usr/local/lib/python3.10/dist-packages/dask/dataframe/__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

5-Fold Cross-Validation Results:

RMSE scores for each fold: [256479.19308456 614436.12763721 373434.00605199 412452.76486552
 345774.76397777]
Average RMSE: 400515.3711234083

R-squared scores for each fold: [0.66330386 0.76446752 0.74947842 0.72389136 0.77435774]
Average R-squared (R2) Score: 0.7350997813955406

MAE scores for each fold: [126429.25543845 171749.95223642 122671.55076734 150789.89765129
 120130.30954759]
Average MAE: 138354.19312822132

## XGBoost (Best):

In [ ]:
from xgboost import XGBRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer, mean_squared_error, r2_score, mean_absolute_error
import numpy as np

# Initialize the XGBoost model
model = XGBRegressor(
    objective='reg:squarederror',
    max_depth=7,
    alpha=10,
    learning_rate=0.1,
    n_estimators=200,
    seed=42,
    enable_categorical=True
)

# Define scoring metrics
mse_scorer = make_scorer(mean_squared_error, greater_is_better=False)
r2_scorer = make_scorer(r2_score)
mae_scorer = make_scorer(mean_absolute_error, greater_is_better=False)

# Perform 5-fold cross-validation for MSE and compute RMSE
mse_scores = cross_val_score(model, X, y, cv=5, scoring=mse_scorer)
rmse_scores = np.sqrt(-mse_scores)

# Perform 5-fold cross-validation for R2 score
r2_scores = cross_val_score(model, X, y, cv=5, scoring=r2_scorer)

# Perform 5-fold cross-validation for MAE
mae_scores = -cross_val_score(model, X, y, cv=5, scoring=mae_scorer)  # Convert negative MAE back to positive

# Print results
print("5-Fold Cross-Validation Results:")
print("\nRMSE scores for each fold:", rmse_scores)
print("Average RMSE:", np.mean(rmse_scores))
print("\nR-squared scores for each fold:", r2_scores)
print("Average R-squared (R2) Score:", np.mean(r2_scores))
print("\nMAE scores for each fold:", mae_scores)
print("Average MAE:", np.mean(mae_scores))

5-Fold Cross-Validation Results:

RMSE scores for each fold: [207796.30665935 599211.8671634  323353.48413857 404775.08587564
 259770.43216038]
Average RMSE: 358981.43519946863

R-squared scores for each fold: [0.77899123 0.77599479 0.81216673 0.73407504 0.8726458 ]
Average R-squared (R2) Score: 0.7947747181434957

MAE scores for each fold: [106567.90877114 166492.3340698  115964.17431282 132858.59617569
  98105.55706973]
Average MAE: 123997.71407983496

## Remove categorical variables and compute VIF:

In [ ]:
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant
data = data.drop(columns = ["Genre", "State"])
X = data.drop(columns=['Avg. Gross USD'])
y = data['Avg. Gross USD']

# Compute VIF
X_with_constant = add_constant(X)  # Add constant for intercept
vif_data = pd.DataFrame()
vif_data["Feature"] = X_with_constant.columns
vif_data["VIF"] = [variance_inflation_factor(X_with_constant.values, i) for i in range(X_with_constant.shape[1])]

print("Variance Inflation Factor (VIF) for Features:")
print(vif_data)

X = X.drop(columns=['monthly_listeners', 'headliner_monthly_listeners'])## retain only 'Support_Total_Monthly_Listeners'

Variance Inflation Factor (VIF) for Features:
                            Feature           VIF
0                             const  2.810862e+06
1                              Year  1.030833e+00
2       headliner_monthly_listeners  1.002649e+00
3   Support_Total_Monthly_Listeners  5.682953e+01
4                 monthly_listeners  5.572869e+01
5                   Number of Shows  1.049982e+00
6               Avg. Event Capacity  1.305105e+00
7              Ticket Price Min USD  1.024426e+00
8              Ticket Price Max USD  1.280872e+00
9                             Month  1.038191e+00
10                      day_of_week  1.019741e+00

## Linear Regression:

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer, mean_squared_error, r2_score, mean_absolute_error
import numpy as np

# Initialize the Linear Regression model
model = LinearRegression()

# Define scoring metrics
mse_scorer = make_scorer(mean_squared_error, greater_is_better=False)
r2_scorer = make_scorer(r2_score)
mae_scorer = make_scorer(mean_absolute_error, greater_is_better=False)

# Perform 5-fold cross-validation for MSE and compute RMSE
mse_scores = cross_val_score(model, X, y, cv=5, scoring=mse_scorer)
rmse_scores = np.sqrt(-mse_scores)

# Perform 5-fold cross-validation for R2 score
r2_scores = cross_val_score(model, X, y, cv=5, scoring=r2_scorer)

# Perform 5-fold cross-validation for MAE
mae_scores = -cross_val_score(model, X, y, cv=5, scoring=mae_scorer)

# Print results
print("5-Fold Cross-Validation Results:")
print("\nRMSE scores for each fold:", rmse_scores)
print("Average RMSE:", np.mean(rmse_scores))
print("\nR-squared scores for each fold:", r2_scores)
print("Average R-squared (R2) Score:", np.mean(r2_scores))
print("\nMAE scores for each fold:", mae_scores)
print("Average MAE:", np.mean(mae_scores))

5-Fold Cross-Validation Results:

RMSE scores for each fold: [ 303911.03396559  796512.47076955  505922.8388113   434427.27502924
 1789335.64525463]
Average RMSE: 766021.8527660633

R-squared scores for each fold: [ 0.52725516  0.60419391  0.54018197  0.6936868  -5.04251139]
Average R-squared (R2) Score: -0.5354387096918265

MAE scores for each fold: [214305.31575674 225955.52215752 249480.78162626 258900.41965127
 318019.27835577]
Average MAE: 253332.26350951186

## Random Forest:

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer, mean_squared_error, r2_score, mean_absolute_error
import numpy as np

# Initialize the Random Forest model
model = RandomForestRegressor(
    n_estimators=200,
    max_depth=7,
    random_state=42
)

# Define scoring metrics
mse_scorer = make_scorer(mean_squared_error, greater_is_better=False)
r2_scorer = make_scorer(r2_score)
mae_scorer = make_scorer(mean_absolute_error, greater_is_better=False)

# Perform 5-fold cross-validation for MSE and compute RMSE
mse_scores = cross_val_score(model, X, y, cv=5, scoring=mse_scorer)
rmse_scores = np.sqrt(-mse_scores)

# Perform 5-fold cross-validation for R2 score
r2_scores = cross_val_score(model, X, y, cv=5, scoring=r2_scorer)

# Perform 5-fold cross-validation for MAE
mae_scores = -cross_val_score(model, X, y, cv=5, scoring=mae_scorer)

# Print results
print("5-Fold Cross-Validation Results:")
print("\nRMSE scores for each fold:", rmse_scores)
print("Average RMSE:", np.mean(rmse_scores))
print("\nR-squared scores for each fold:", r2_scores)
print("Average R-squared (R2) Score:", np.mean(r2_scores))
print("\nMAE scores for each fold:", mae_scores)
print("Average MAE:", np.mean(mae_scores))

5-Fold Cross-Validation Results:

RMSE scores for each fold: [223722.05660306 540879.02721185 464508.30087992 317118.02515866
 212371.88835599]
Average RMSE: 351719.8596418951

R-squared scores for each fold: [0.74381632 0.81748541 0.6123816  0.83677999 0.91488073]
Average R-squared (R2) Score: 0.7850688082308954

MAE scores for each fold: [112676.33772649 152623.81476682 127909.60953825 149165.81676589
  82513.1688925 ]
Average MAE: 124977.74953798822

## SVM:

In [ ]:
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer, mean_squared_error, r2_score, mean_absolute_error
import numpy as np

# Initialize the SVM model
model = SVR(
    kernel='sigmoid',  # Radial Basis Function kernel, which is commonly used
    C=1.0,         # Regularization parameter
    epsilon=0.1    # Epsilon in the epsilon-SVR model
)

# Define scoring metrics
mse_scorer = make_scorer(mean_squared_error, greater_is_better=False)
r2_scorer = make_scorer(r2_score)
mae_scorer = make_scorer(mean_absolute_error, greater_is_better=False)

# Perform 5-fold cross-validation for MSE and compute RMSE
mse_scores = cross_val_score(model, X, y, cv=5, scoring=mse_scorer)
rmse_scores = np.sqrt(-mse_scores)

# Perform 5-fold cross-validation for R2 score
r2_scores = cross_val_score(model, X, y, cv=5, scoring=r2_scorer)

# Perform 5-fold cross-validation for MAE
mae_scores = -cross_val_score(model, X, y, cv=5, scoring=mae_scorer)

# Print results
print("5-Fold Cross-Validation Results:")
print("\nRMSE scores for each fold:", rmse_scores)
print("Average RMSE:", np.mean(rmse_scores))
print("\nR-squared scores for each fold:", r2_scores)
print("Average R-squared (R2) Score:", np.mean(r2_scores))
print("\nMAE scores for each fold:", mae_scores)
print("Average MAE:", np.mean(mae_scores))

5-Fold Cross-Validation Results:

RMSE scores for each fold: [ 483746.43427546 1316406.35816772  772330.57324481  821406.05288152
  742818.88995595]
Average RMSE: 827341.6617050951

R-squared scores for each fold: [-0.19775892 -0.08112835 -0.07157821 -0.09508379 -0.04135721]
Average R-squared (R2) Score: -0.09738129494356466

MAE scores for each fold: [264207.32058456 430789.83338592 293013.77806426 324469.29963412
 303129.28208849]
Average MAE: 323121.9027514714